
.menuBar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
 
    gap: 25px;
}
 
.menuBar ul li{
    background-color: rgb(0, 0, 0);
}
 
.menuBar ul li:hover{
    color: rgb(148, 148, 148);
}