.painel_adm{
    display: flex;
    height: 100vh;
}

.painel_container{
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
   
}

.configPainel {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border: solid 3px rgb(255, 153, 0);
   
  
}

.tittlePage{
    margin-bottom: 20px;
}